/* font-family: 'Lemonada', cursive;
font-family: 'Recursive', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Signika', sans-serif;
font-family: 'Sora', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500&family=Recursive:wght@400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&family=Signika:wght@300;400;500;600;700&family=Sora:wght@300;400;500;600;700;800&display=swap');

:root{
    /* primary font family */
    --ff-primary-h1: 'Signika', sans-serif;
    --ff-primary-h2: 'Recursive', sans-serif;
    --ff-primary-p: 'Lemonada', cursive;

    /* general font family */
    --ff-prmary: 'Rubik', sans-serif;
    --ff-secondary: 'Sora', sans-serif;
}

/* ###################################################################### */
/* Global Variables */
/* ###################################################################### */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ###################################################################### */
/* All Media Queries */
/* ###################################################################### */

/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */
/* Extra Small devices */
/* ####################################################################################################### */
@media (max-width: 575.98px){
/* ################ Nav Bar ########################## */
.main-nav{
    /* min-height: 800px; */
}

.scrolled .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.nav-container {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100%;
   transition: 1s;
   padding: 0 10px;
   background: #000;
}

.scrolled {
    display: flex;
    height: 100px;
    justify-content: space-between;
}

.nav-container .banner-image {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
}
.nav-container .banner {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.scrolled .banner {
    opacity: 0.3;
    height: 100px;
}

.links-container {
    /* position: relative; */
    /* display: flex;
    justify-content: flex-end; */
    height: 100px;
    /* overflow: hidden; */
    transition: 1s;
}
.links-container .links {
    position: relative;
    margin: 0;
    padding: 2rem 0;
    /* display: block; */
    transition: 1s;
    opacity: 0;
    /* transform: translateX(20rem); */
    visibility: hidden;
}

.scrolled .links-container {
    display: flex;
    justify-content: flex-end;
}

.scrolled .links-container .links {
    opacity: 1;
    transform: translateX(0px);
    visibility: visible;
}


.links-container .links li {
    list-style: none;
}

.links-container .links .scroll-link {
    color: #fff;
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
    text-decoration: none;

}

.scrolled .links-container .links {
    font-size: 0.5rem;
    display: block;
    /* color: red; */
    visibility: visible;
}


/* ########### Hmaburger #################### */
.scrolled .nav-toggle {
    font-size: 2.5rem;
    /* color: snow; */
    /* background: transparent; */
    /* border-color: transparent; */
    transition: 1s;
    cursor: pointer;
}


/* ######################################################################################### */
/* Center image and scrolled effect uner it */
/* ######################################################################################### */

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 250px;
    background: #000;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
    overflow: hidden;
    transition: 1s;
}

.scrolled .box {
    /* opacity: 0;
    visibility: hidden; */
    /* position: relative; */
    /* top: 50px;
    left: 100px; */
    transition: 1s;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* display: flex; */
    /* justify-content: flex-end; */
}

.imgbox {
    position: absolute;
    transition: 0.5s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #000000;
}

.imgbox:hover {
    transform: translateY(-100px);
}

.scrolled .imgbox:hover {
    transform: translateY(0px);
 }

.imgbox img {
    width: 250px;
    height: 250px;
    /* object-fit: contain; */
    transform: translateX(-20px);
    transition: 1s;
}
.scrolled .box .imgbox img{
    width: 130px;
    height: auto;
    transform: translateX(-30px);
    transition: 1s;
}

.box:hover .imgbox img {
    opacity: 0.5;
}

.scrolled .box:hover .imgbox img{
    opacity: 1;
}

.social-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    margin: 0;
    padding: 0;
}

.scrolled .social-icon {
    opacity: 0;
    visibility: hidden;
}

.social-icon li{
    list-style: none;
}

.social-icon li a {
    position: relative;
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #262626;
    margin: 0 5px;
    border-radius: 50%;
    text-decoration: none;
    transition:  0.5s;
    transform: translateY(200px);
    font-size: 0.5rem;
    opacity: 0;
}

.box:hover .social-icon li a {
    transform: translateY(0px);
    opacity: 1;
}

.scrolled .box:hover .social-icon li a {
    opacity: 0;
}

.box:hover .social-icon li:nth-child(1) a {
    transition-delay: 0s;
}

.box:hover .social-icon li:nth-child(2) a {
    transition-delay: 0.2s;
}

.box:hover .social-icon li:nth-child(3) a {
    transition-delay: 0.4s;
}

.box:hover .social-icon li:nth-child(4) a {
    transition-delay: 0.6s;
}

.box:hover .social-icon li:nth-child(5) a {
    transition-delay: 0.8s;
}

.details {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
}

.scrolled .details {
    opacity: 0;
    visibility: hidden;
}

.details h2 {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
    font-size: 1rem;
}

.details h2 span {
    color: #bbb;
    font-size: 1rem;
}


}

/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */
/* Small Devices (e.g Landscape phones) */
/* ####################################################################################################### */
@media (min-width: 576px) and (max-width:767.98px) {
/* ######################################################################################### */
    /* Center image */
/* ######################################################################################### */
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 400px;
    /* background: #000; */
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
    overflow: hidden;
}

.imgbox {
    position: absolute;
    transition: 0.5s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #000000;
}

.imgbox:hover {
    transform: translateY(-100px);
}

.imgbox img {
    width: 500px;
    height: 400px;
    transform: translateX(-100px);
    transition: 0.5s;
}

.box:hover .imgbox img {
    opacity: 0.5;
}

.social-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    margin: 0;
    padding: 0;
}

.social-icon li{
    list-style: none;
}

.social-icon li a {
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #262626;
    margin: 0 5px;
    border-radius: 50%;
    text-decoration: none;
    transition:  0.5s;
    transform: translateY(200px);
    opacity: 0;
}

.box:hover .social-icon li a {
    transform: translateY(0px);
    opacity: 1;
}

.box:hover .social-icon li:nth-child(1) a {
    transition-delay: 0s;
}

.box:hover .social-icon li:nth-child(2) a {
    transition-delay: 0.2s;
}

.box:hover .social-icon li:nth-child(3) a {
    transition-delay: 0.4s;
}

.box:hover .social-icon li:nth-child(4) a {
    transition-delay: 0.6s;
}

.box:hover .social-icon li:nth-child(5) a {
    transition-delay: 0.8s;
}
/* h2{color: #fff;} */
.details {
    /* z-index: 1223; */
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
}

.details h2 {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}

.details h2 span {
    color: #bbb;
    /* font-size: 1.2rem; */
}
}

/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */
/* Medium Devices (e.g Tablet) */
/* ####################################################################################################### */
@media (min-width: 768px) and (max-width:991.98px) {
/* ######################################################################################### */
    /* Center image */
/* ######################################################################################### */
    .box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 400px;
        /* background: #000; */
        border-radius: 15px;
        box-shadow: 0 5px 20px rgba(0,0,0,.3);
        overflow: hidden;
    }
    
    .imgbox {
        position: absolute;
        transition: 0.5s;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: #000000;
    }
    
    .imgbox:hover {
        transform: translateY(-100px);
    }
    
    .imgbox img {
        width: 500px;
        height: 400px;
        transform: translateX(-100px);
        transition: 0.5s;
    }
    
    .box:hover .imgbox img {
        opacity: 0.5;
    }
    
    .social-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .social-icon li{
        list-style: none;
    }
    
    .social-icon li a {
        position: relative;
        display: flex;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        background: #fff;
        color: #262626;
        margin: 0 5px;
        border-radius: 50%;
        text-decoration: none;
        transition:  0.5s;
        transform: translateY(200px);
        opacity: 0;
    }
    
    .box:hover .social-icon li a {
        transform: translateY(0px);
        opacity: 1;
    }
    
    .box:hover .social-icon li:nth-child(1) a {
        transition-delay: 0s;
    }
    
    .box:hover .social-icon li:nth-child(2) a {
        transition-delay: 0.2s;
    }
    
    .box:hover .social-icon li:nth-child(3) a {
        transition-delay: 0.4s;
    }
    
    .box:hover .social-icon li:nth-child(4) a {
        transition-delay: 0.6s;
    }
    
    .box:hover .social-icon li:nth-child(5) a {
        transition-delay: 0.8s;
    }
    /* h2{color: #fff;} */
    .details {
        /* z-index: 1223; */
        position: absolute;
        bottom: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 100px;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .details h2 {
        margin: 10px 0 0;
        padding: 0;
        text-align: center;
    }
    
    .details h2 span {
        color: #bbb;
        /* font-size: 1.2rem; */
    }
}

/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */
/* Large Devices (e.g Desktop) */
/* ####################################################################################################### */
@media (min-width: 992px) and (max-width:1199.98px) {

/* ######################################################################################### */
/* Nav Bar */
/* ######################################################################################### */

.main-nav {
    min-height: 1000px;
}
.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transition: 1s;
    padding: 0 10px;
    /* background: #000; */
 }
 .scrolled {
     display: flex;
     height: auto;
     justify-content: space-between;
 }
 .nav-container .banner-image {
     object-fit: cover;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     transition: 1s;
     /* z-index: -2; */
 }

 .scrolled .banner-image {
     opacity: 0.3;
     height: 100px;
 }

 .links-container {
     position: relative;
     display: flex;
     justify-content: flex-end;
 }
 .links-container .links {
     position: relative;
     margin: 0;
     padding: 2rem 0;
     display: flex;
     transition: 1s;
     opacity: 0;
     transform: translateX(20rem);
     visibility: hidden;
 }

 .scrolled .links-container {
     display: flex;
     justify-content: flex-end;
 }

 .scrolled .links-container .links {
     opacity: 1;
     transform: translateX(0px);
     visibility: visible;
 }

 .links-container .links li {
     list-style: none;
 }

 .links-container .links .scroll-link {
     color: #fff;
     font-size: 1.5rem;
     padding: 0.8rem 1rem;
     text-decoration: none;

 }


 /* ########### Hmaburger #################### */
 .scrolled .nav-toggle {
     font-size: 2.5rem;
     color: snow;
     background: transparent;
     border-color: transparent;
     transition: 1s;
     cursor: pointer;
 }


/* ######################################################################################### */
/* Center image and scrolled effect uner it */
/* ######################################################################################### */

.box-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}
.box {
    position: relative;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    transition: 0.5s;
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
    background: #fff;
    overflow: hidden;
}

.scrolled .box {
    /* opacity: 0;
    visibility: hidden; */
    /* position: relative; */
    top: 50px;
    left: 100px;
    transition: 1s;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    /* justify-content: center; */
}

.imgbox {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    background: #000;
    /* z-index: 3; */
}

.imgbox:hover{
    transform: translateY(-100px);
    
}

.scrolled .imgbox:hover {
    transform: translateY(0px);
    }

    .imgbox img {
    width: auto;
    height: 100%;
    transform: translateX(-40px);
    transition: 0.5s;
}

.scrolled .box .imgbox img{
    width: 130px;
    height: auto;
    transform: translateX(-30px);
    transition: 1s;
}

.box:hover .imgbox img {
opacity: 0.5;
transition: 0.5s;
}

.scrolled .box:hover .imgbox img{
    opacity: 1;
}

.social-icon {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 0 auto;
    border: 2px solid white;
}

.scrolled .social-icon {
    opacity: 0;
    visibility: hidden;
}

.social-icon li{
    list-style: none;
}

.social-icon li a {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background:white;
    color: #262626;
    border-radius: 50%;
    text-decoration: none;
    transition:  0.5s;
}

.box:hover .social-icon li a {
    transform: translateY(-300px);
    opacity: 1;
}

.scrolled .box:hover .social-icon li a {
    opacity: 0;
}

.box:hover .social-icon li:nth-child(1) a {
    transition-delay: 0s;
}

.box:hover .social-icon li:nth-child(2) a {
    transition-delay: 0.2s;
}

.box:hover .social-icon li:nth-child(3) a {
    transition-delay: 0.4s;
}

.box:hover .social-icon li:nth-child(4) a {
    transition-delay: 0.6s;
}

.box:hover .social-icon li:nth-child(5) a {
    transition-delay: 0.8s;
}

.details {
    transition: 1s;
}

.box .details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* z-index: 2; */
    opacity: 0;
    visibility: hidden;
}
.box:hover .details {
    opacity: 1;
    visibility: visible;
}
.scrolled .details {
    opacity: 0;
    visibility: hidden;
}

.details h2 {
    text-align: center;
    font-size: 2rem;
    /* margin-bottom: 4px; */
}

.details h2 span {
    /* color: #bbb; */
    color: grey;
    font-size: 1.5rem;
}

}

/* ####################################################################################################### */
/* ####################################################################################################### */
/* ####################################################################################################### */
/* Extra Large Devices */
/* ####################################################################################################### */
@media (min-width: 1200px) {
    /* ################ Nav Bar ########################## */
    .main-nav{
        min-height: 1200px;
    }
    .nav-container {
       position: fixed;
       top: 0;
       left: 0;
       height: 100vh;
       width: 100%;
       transition: 1s;
       padding: 0 10px;
       /* background: #000; */
    }
    .scrolled {
        display: flex;
        height: auto;
        justify-content: space-between;
    }
    .nav-container .banner-image {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 1s;
        /* z-index: -2; */
    }

    .scrolled .banner-image {
        opacity: 0.3;
        height: 100px;
    }

    .links-container {
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    .links-container .links {
        position: relative;
        margin: 0;
        padding: 2rem 0;
        display: flex;
        transition: 1s;
        opacity: 0;
        transform: translateX(20rem);
        visibility: hidden;
    }

    .scrolled .links-container {
        display: flex;
        justify-content: flex-end;
    }

    .scrolled .links-container .links {
        opacity: 1;
        transform: translateX(0px);
        visibility: visible;
    }

    .links-container .links li {
        list-style: none;
    }

    .links-container .links .scroll-link {
        color: #fff;
        font-size: 1.5rem;
        padding: 0.8rem 1rem;
        text-decoration: none;

    }


    /* ########### Hmaburger #################### */
    .scrolled .nav-toggle {
        font-size: 2.5rem;
        color: snow;
        background: transparent;
        border-color: transparent;
        transition: 1s;
        cursor: pointer;
    }

    
    /* ######################################################################################### */
    /* Center image and scrolled effect uner it */
    /* ######################################################################################### */
    
    .box-container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        box-sizing: border-box;
    }
    .box {
        position: relative;
        width: 300px;
        height: 400px;
        border-radius: 15px;
        transition: 0.5s;
        box-shadow: 0 5px 20px rgba(0,0,0,.3);
        background: #fff;
        overflow: hidden;
    }
    
    .scrolled .box {
        /* opacity: 0;
        visibility: hidden; */
        /* position: relative; */
        top: 50px;
        left: 100px;
        transition: 1s;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        /* justify-content: center; */
    }

    .imgbox {
        transition: 0.5s;
        width: 100%;
        height: 100%;
        background: #000;
        /* z-index: 3; */
    }
    
    .imgbox:hover{
        transform: translateY(-100px);
        
    }
    
    .scrolled .imgbox:hover {
        transform: translateY(0px);
     }
 
     .imgbox img {
        width: auto;
        height: 100%;
        transform: translateX(-40px);
        transition: 0.5s;
    }

    .scrolled .box .imgbox img{
        width: 130px;
        height: auto;
        transform: translateX(-30px);
        transition: 1s;
    }

    .box:hover .imgbox img {
    opacity: 0.5;
    transition: 0.5s;
}

    .scrolled .box:hover .imgbox img{
        opacity: 1;
    }
    
    .social-icon {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin: 0 auto;
        border: 2px solid white;
    }
    
    .scrolled .social-icon {
        opacity: 0;
        visibility: hidden;
    }

    .social-icon li{
        list-style: none;
    }
    
    .social-icon li a {
        display: flex;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        background:white;
        color: #262626;
        border-radius: 50%;
        text-decoration: none;
        transition:  0.5s;
    }
    
    .box:hover .social-icon li a {
        transform: translateY(-300px);
        opacity: 1;
    }

    .scrolled .box:hover .social-icon li a {
        opacity: 0;
    }
    
    .box:hover .social-icon li:nth-child(1) a {
        transition-delay: 0s;
    }
    
    .box:hover .social-icon li:nth-child(2) a {
        transition-delay: 0.2s;
    }
    
    .box:hover .social-icon li:nth-child(3) a {
        transition-delay: 0.4s;
    }
    
    .box:hover .social-icon li:nth-child(4) a {
        transition-delay: 0.6s;
    }
    
    .box:hover .social-icon li:nth-child(5) a {
        transition-delay: 0.8s;
    }

    .details {
        transition: 1s;
    }

    .box .details {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        /* z-index: 2; */
        opacity: 0;
        visibility: hidden;
    }
    .box:hover .details {
        opacity: 1;
        visibility: visible;
    }
    .scrolled .details {
        opacity: 0;
        visibility: hidden;
    }
    
    .details h2 {
        text-align: center;
        font-size: 2rem;
        /* margin-bottom: 4px; */
    }
    
    .details h2 span {
        /* color: #bbb; */
        color: grey;
        font-size: 1.5rem;
    }

}

